<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/control_article.css" />
    <title>髦登｜文章管理</title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon"/>
  </head>

  <body>
    <div class="container-fluid">
      <!-- 左側欄位start -->
      <div class="row">
        <div class="col-4">
          <div class="wrap_L">
            <% data.forEach((item,index)=> {%>
            <img id="uImg" src="../img/upload/<%=item.member_img%>" alt="" />
            <h3 id="uName"><%=item.member_name%></h3>
            <% })%>
            <a href="/controls/control_article"
              ><button type="button" id="article">文章管理</button></a
            >
            <a href="/controls/control_product">
              <button type="button" id="product">商品管理</button></a
            >
            <a href="/controls/control_order"
              ><button type="button" id="order">訂單管理</button></a
            >
            <a href="/homepage"><img src="../img/logo.svg" alt="" /></a>
          </div>
        </div>
        <!-- 左側欄位end -->
        <div class="col-8">
          <div class="wrap_R">
            <h3 id="title">文章管理</h3>

            <select name="category_id" id="article_list">
              <option value="all">全部</option>
              <option value="a1">申請</option>
              <option value="a2">體能</option>
              <option value="a3">裝備</option>
              <option value="a4">食物</option>
              <option value="a5">救難</option>
              <option value="a6">環境</option>
            </select>
            <a href="/controls/control_article_edit"
              ><button type="button" class="fa fa-plus" id="add_article">
                新增文章
              </button></a
            >
            <table id="article_mgt">
              <thead>
                <tr>
                  <th>
                    <span id="title">文章標題</span>
                    <span id="update">更新時間</span>
                    <span id="tool">管理工具</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% data1.forEach((item, index) => { %>
                <tr class="a<%= item.category_id %> all">
                  <td>
                    <p id="content"><%= item.title %></p>
                  </td>
                  <td id="time"><%= item.add_date %></td>
                  <td id="btn_group">
                    <a
                      href="/controls/control_article_edit_<%= item.article_id%>"
                      ><button
                        type="button"
                        id="edit_btn"
                        class="fa fa-pencil"
                        value="<%= item.article_id%>"
                      ></button
                    ></a>
                    <button
                      type="button"
                      id="del_btn"
                      class="fa fa-trash"
                      value="<%= item.article_id %>"
                    ></button>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%- include footer.ejs %>
    <script src="../js/controls.js"></script>
  </body>
</html>
